.palette-page {
    height: 100%;
    position: relative;
    &__wrapper {
        height: 100%;
        max-width: 27.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__button {
        // +mixin
        background: #007aff;
        border-radius: 8px;
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        padding: 14px 16px;
        transform: scale(1);
        transition: transform 0.35s linear;
        &:active {
            transform: scale(1.05);
            transition: transform 0.35s linear;
        }
    }
}


