.form {
    &__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 27.5%;
    }
    &__field {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:not(:last-child) {
            margin: 0 0 14px 0;
        }
        :not(:last-child) {
            margin: 0 0 5px 0;
        }
    }
    .form__field.file {
        margin: 0 0 48px 0;
    }
    &__label {
        padding: 0 0 0 15px;
        font-size: 13px;
        font-weight: 700;
        line-height: 22px;
        color: rgba(235, 235, 245, 0.6);
    }
    &__input {
        padding: 10px 12px;
        border-radius: 10px;
        background: rgba(118, 118, 128, 0.24);
        border: none;
        outline: none;
        cursor: pointer;
        &::placeholder {
            color: rgba(235, 235, 245, 0.6);
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
        }
    }
    &__button { // +mixin
        background: #007aff;
        border-radius: 8px;
        color: #fff;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        padding: 14px 16px;
        margin: 0 0 23px 0;
    }
}

.file {
    &__text { // +mixin
        padding: 0 0 0 15px;
        font-size: 13px;
        font-weight: 700;
        line-height: 22px;
        color: rgba(235, 235, 245, 0.6);
    }
    &__input {
        display: none;
        opacity: 0;
    }
    &__label {
        background-image: url(../../assets/images/image-add_icon.svg);
        background-size: 60px 56px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        width: 122px;
        height: 86px;
        padding: 0;
        background-color: rgba(118, 118, 128, 0.24);
        border-radius: 10px;
    }
}


