.palette {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    &__template {
        width: 54px;
        height: 54px;
        border-radius: 5px;
        margin: 8px;
        cursor: pointer;
        position: relative;
        transform: scale(1);
        transition: transform 0.25s linear;
        z-index: 2;
        &:hover {
            .palette__button--delete {
                opacity: 1;
            }
        }
        &:active {
            transition: transform 0.25s linear;
            transform: scale(1.15);
        }
    }
    &__button--delete {
        position: absolute;
        z-index: 2;
        top: -15%;
        right: -15%;

        width: 17px;
        height: 17px;
        background-color: transparent;
        opacity: 0;
        transition: all 0.3s linear;

        background-image: url(../../assets/images/close_icon.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

// .chrome-picker {
//     position: absolute;
//     top: 20%;
//     left: 10%;
// }
