* {
    box-sizing: border-box;
}

body {
    background-color: #1f2223;
    font-family: Gotham Pro, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

// /. NULL-STYLES

#root,
.App,
.page {
    height: 100%;
}

.App {
    padding: 42px;
}

.page {
    background-color: #000;
    border-radius: 28px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    &__preloader {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
}

.form-page__wrapper {
    display: flex;
}

.form-page__form {
    flex: 0 0 27.5%;
}

.form-page__preloader {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}