@media screen and (max-width: 1366px) {
    .footer__wrapper {
        max-width: 100%;
    }
    .form-page__form {
        flex: 0 0 50%;
    }
    .palette-page__workplace {
        flex: 0 0 50%;
    }
    .palette__wrapper {
        justify-content: flex-start;
    }
    .chrome-picker.chrome-picker {
        margin: 0 auto;
        width: 80% !important;
    }
}

@media screen and (max-width: 768px) {
    .App {
        padding: 22px;
    }
    .page {
        padding: 20px 30px;
    }
    .nav__menu {
        justify-content: center;
    }
    .palette-page__preview {
        display: none;
    }
    .form-page__preloader {
        display: none;
    }
    .form-page__form {
        flex: 0 0 100%;
    }
    .palette-page__workplace {
        flex: 0 0 100%;
    }
    .palette__wrapper {
        justify-content: center;
    }
    .file__image {
        height: 165px;
    }
    .chrome-picker.chrome-picker {
        margin: 0 auto;
        width: 80% !important;
    }
    .page {
        overflow-y: scroll;
    }
}

@media screen and (max-width: 425px) {
    .palette__wrapper {
        padding: 0 10px;
    }
    .palette__template {
        margin: 10px;
    }
    .chrome-picker.chrome-picker {
        margin: 0 auto;
        width: auto !important;
    }
}

@media screen and (max-width: 375px) {
    .chrome-picker.chrome-picker {
        margin: 0 auto;
    }
    .field__title {
        flex-direction: column;
        align-items: flex-start;
        :not(:last-child) {
            margin: 0;
        }
    }
    .field__warn,
    .file__warn {
        font-size: 13px;
        padding: 0 0 0 15px;
    }
}

@media screen and (max-width: 320px) {
    .chrome-picker.chrome-picker {
        width: 210px !important;
    }
}

@media screen and (max-height: 480px) {
    .page {
        overflow-y: scroll;
    }
}
